In [11]:
import pandas as pd

true = pd.read_csv("dataset/true.csv")
fake = pd.read_csv("dataset/fake.csv")

In [12]:
true.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [13]:
fake.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [15]:
true["flag"] = 1
fake["flag"] = 0
df=pd.concat([true,false])
df.head()

,title,text,subject,date,flag
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1.0
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1.0
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1.0
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1.0
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1.0

In [22]:
df['text'] = df['text'] + " " + df['title']
del df['title']
del df['subject']
del df['date']

df.head()

                                                text flag
0  WASHINGTON (Reuters) - The head of a conservat...  1.0
1  WASHINGTON (Reuters) - Transgender people will...  1.0
2  WASHINGTON (Reuters) - The special counsel inv...  1.0
3  WASHINGTON (Reuters) - Trump campaign adviser ...  1.0
4  SEATTLE/WASHINGTON (Reuters) - President Donal...  1.0

In [34]:
import nltk
import string
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

stop = set(stopwords.words('english'))
punctuation = list(string.punctuation)
stop.update(punctuation)

In [46]:
import re

# Removing square brackets and URLs
df['text'] = df['text'].apply(lambda text: re.sub(r'\[.*?\]', '', text))
df['text'] = df['text'].apply(lambda text: re.sub(r'http\S+', '', text))

# Removing stopwords
stop = set(stopwords.words('english'))
df['text'] = df['text'].apply(lambda text: ' '.join(word for word in text.split() if word.lower() not in stop))

df.head()

                                                text flag
0  WASHINGTON (Reuters) head conservative Republi...  1.0
1  WASHINGTON (Reuters) Transgender people allowe...  1.0
2  WASHINGTON (Reuters) special counsel investiga...  1.0
3  WASHINGTON (Reuters) Trump campaign adviser Ge...  1.0
4  SEATTLE/WASHINGTON (Reuters) President Donald ...  1.0

In [ ]:
# Commented due to high processing time on Lemmatization
'''from nltk.stem import PorterStemmer, WordNetLemmatizer
from nltk.tokenize import word_tokenize

stemmer = PorterStemmer()
lemmatizer = WordNetLemmatizer()

# Tokenizing "text" column of dataframe
df['tokens'] = df['text'].apply(word_tokenize)

# Applying Stemming to the Tokens
df['stemmed_tokens'] = df['tokens'].apply(lambda x: [stemmer.stem(word) for word in x])

# Applying Lemmatization to the Tokens
df['lemmatized_tokens'] = df['tokens'].apply(lambda x: [lemmatizer.lemmatize(word) for word in x])

df.head()'''